.slider {
    position: relative;
    overflow: hidden;
    width: 555px;
    margin-right: 55px;
    height: 415px;
  }
  .slider__wrapper {
    display: flex;
    transition: transform 1s ease;
  }
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }
  .txt-problem{
      width: 465px;
      text-align: right;
  }
